
* {
	transition:  all 0.5s;
}
body {
	background-image: url(background1.png);
	background-size: 100%; 
	margin: 0;

}
.menengahkan {
	height: 20%;
	position: relative;
	margin: auto;
	text-align: center;

}

.menengahkan h1{
	font-family: Helvetica;
	font-size: 300%;
	padding-top: 2%; 
}
.menengahkan p{
	font-family: Helvetica;
	font-size: 150%;

}

.resumee{
	background-color: white;
	border-bottom: 6px solid green;
	color: black;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: helvetica; 
	width: 10%;
}
.resumee:hover {
	background-color: #00b33c;
	color: white;
}

.profil:hover {
	opacity: 0.5;
}

.profil {
	width:20%;
	height: 20%;
	top: 25%;
	padding-top: 8%; 
}
.aha {
	height: 100%;
}

.alalala {
	margin-top: 3%;
	font-family: Helvetica;
	font-size: 200%;
	font-weight: bold;
}
.ulululu {
	margin-top: 1px;
	font-family: Helvetica;
	font-size: 150%;
}

footer {
	bottom: 0;
	font-family: Helvetica;
	color: white;
	width: 100%;
	position: fixed;
	height: 5%;
	text-align: center;
	padding-top: 14px;
}
footer:hover {
	background-color: #1AA758;
	color: white;
}


.tengah {
	margin-top: 8%;
	margin-left: 15%;
	margin-right: 15%;
	font-family: Helvetica;

}

.judulbiografi {
	font-size: 300%;
	padding-bottom: 0%;
	font-weight: bolder;
}

.keindex {
	position: absolute;
	right: 15%;
	margin-top: 4%;
	padding: 14px 25px;
	background: white;
	border-left: 6px solid #16834A;
	text-decoration: none;
	font-weight: bold;
	color: black;
}
.keindex:hover {
	background-color: #1AA758;
	color: white;
}

.parafgraf {
	padding-top: 10%;
	padding-bottom: 10%;
	background: white;
	border-bottom: 15px solid #16834A;
	border-left: 15px solid #16834A;
	text-decoration: none;
	display: inline-block;
	height: 500%;
	padding-left: 5%;
	color: black;
}

.parafgraf:hover {
	background-color: #1AA758;
	color: white;
}

.tubuh {
	font-family: Helvetica;
	margin-left: 15%;
	margin-right: 15%;
}

h1 {
	text-align: center;
	margin-top: 6%;
	font-weight: bolder;
}

.namaku {
	text-align: center;
	margin-top: 10%;
	margin: auto;
	padding: 14px 25px;
	border-bottom: 6px solid #16834A;
	width: 50%;
}

.nul {
	font-weight: bolder;
	font-size: 150%;
}

.baris {
	width: 100%;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	vertical-align: middle;
}

.kolom1 {
	display: inline-block;
	margin-left: 3%;
	width: 30%;
	height: 100%;
	line-height: 100%;
}

.kolom2 {
	display: inline-block;
	width: 60%;
}

.nama {
	margin-left:23%;
}
.uhu {
	margin-bottom: 55px;
	padding-bottom: 1px;
	border-bottom: 2px solid #16834A;
}

.baris:hover {
	background-color: rgb(240,240,240);
}

.d:hover {
	background-color: rgb(240,240,240);
}

.keindexw {
	position: absolute;
	right: 15%;
	margin-bottom: 5%;
	padding: 14px 25px;
	background: white;
	border-left: 6px solid #16834A;
	text-decoration: none;
	font-weight: bold;
	color: black;
}
.keindexw:hover {
	background-color: #1AA758;
	color: white;
}
