
* {
	transition:  all 0.5s;
}
body {
	background-image: url(background1.png);
	background-size: 100%; 
	margin: 0;

}
.menengahkan {
	height: 20%;
	position: relative;
	margin: auto;
	text-align: center;

}

.menengahkan h1{
	font-family: Helvetica;
	font-size: 300%;
	padding-top: 2%; 
}
.menengahkan p{
	font-family: Helvetica;
	font-size: 150%;

}

.resumee{
	background-color: white;
	border-bottom: 6px solid green;
	color: black;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: helvetica; 
	width: 10%;
}
.resumee:hover {
	background-color: #00b33c;
	color: white;
}

.profil:hover {
	opacity: 0.5;
}

.profil {
	width:20%;
	height: 20%;
	top: 25%;
	padding-top: 8%; 
}
.aha {
	height: 100%;
}

.alalala {
	margin-top: 3%;
	font-family: Helvetica;
	font-size: 200%;
	font-weight: bold;
}
.ulululu {
	margin-top: 1px;
	font-family: Helvetica;
	font-size: 150%;
}

footer {
	bottom: 0;
	font-family: Helvetica;
	color: white;
	width: 100%;
	position: fixed;
	height: 5%;
	text-align: center;
	padding-top: 14px;
}
footer:hover {
	background-color: #1AA758;
	color: white;
}