
body {
	margin: 0%;
	font-family: Helvetica;
	color: white;
	text-align: center;
}


.tombolmulai {
	text-decoration: none;
	padding: 14px 25px;
	text-align: center;
	display: inline-block;
	font-family: helvetica;
	font-weight: bolder;
	color: white;
	background: #1d7844;
	border: 2px solid #19964f;
	margin-left:3px;
	margin-top: 5px;
	margin-bottom: 5px;
 	
}

.tombolmulai:hover {
	background: white;
	color: black;
}

.lis {
	margin-top: 35%;
	text-align: center;
}

.mulai {
	float: left;
    margin: 0px;
    padding: 15px;
    max-width: 670px;
    height: 670px;
    width: 690px;


}
.mulai2 {
	float: left;
    margin: 0px;
    padding: 15px;
    max-width: 610px;
    width: 620px;
    height: 690px;
    background-color: #1aa758;

}
.ukuranikon {
	padding-top: 35%;
	padding-bottom: 5%;
	height:25%;
	
}
.materi {
	display: none;
	font-size: 200%;
	margin-top: 3%;
}

.masukmateri {
	margin-top: 8%; 
	font-size: 50%;
}

.menu {
	font-size: 150%;
}

.tabel {
	margin-top: 3%;
}

.soal5 {
	float: left;
    margin-left: 20px;
    max-width: 700px;
    height: 540px;
    width: 280px;
    border: 2px solid white;
    font-size: 50%;
}

.soalnya {
	float: left;
    margin: 0px;
    padding: 0px;
    max-width: 700px;
    height: 540px;
    width: 280px;
    border: 2px solid white;
    font-size: 50%;
}

.pernomor {
	margin-top: 4%;
	text-align: center;
	border: 1px solid white;
	


}